In [2]:
import warnings
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
warnings.filterwarnings('ignore')

In [3]:
data = pd.read_csv(
    'https://labfile.oss.aliyuncs.com/courses/1283/adult.data.csv')
data.head(10)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K

In [4]:
data.groupby('sex')

In [6]:
for item in data.groupby('sex'):
    print(item)

('Female',        age     workclass  fnlwgt     education  education-num  \
4       28       Private  338409     Bachelors             13
5       37       Private  284582       Masters             14
6       49       Private  160187           9th              5
8       31       Private   45781       Masters             14
12      23       Private  122272     Bachelors             13
...    ...           ...     ...           ...            ...
32476   37       Private  198216    Assoc-acdm             12
32479   43     State-gov  255835  Some-college             10
32485   27       Private  257302    Assoc-acdm             12
32487   58       Private  151910       HS-grad              9
32489   52  Self-emp-inc  287927       HS-grad              9

              marital-status       occupation    relationship   race     sex  \
4         Married-civ-spouse   Prof-specialty            Wife  Black  Female
5         Married-civ-spouse  Exec-managerial            Wife  White  Female
6      Married-spouse-absent    Other-service   Not-in-family  Black  Female
8              Never-married   Prof-specialty   Not-in-family  White  Female
12             Never-married     Adm-clerical       Own-child  White  Female
...                      ...              ...             ...    ...     ...
32476               Divorced     Tech-support   Not-in-family  White  Female
32479               Divorced     Adm-clerical  Other-relative  White  Female
32485     Married-civ-spouse     Tech-support            Wife  White  Female
32487                Widowed     Adm-clerical       Unmarried  White  Female
32489     Married-civ-spouse  Exec-managerial            Wife  White  Female

       capital-gain  capital-loss  hours-per-week native-country salary
4                 0             0              40           Cuba  <=50K
5                 0             0              40  United-States  <=50K
6                 0             0              16        Jamaica  <=50K
8             14084             0              50  United-States   >50K
12                0             0              30  United-States  <=50K
...             ...           ...             ...            ...    ...
32476             0             0              40  United-States  <=50K
32479             0             0              40  United-States  <=50K
32485             0             0              38  United-States  <=50K
32487             0             0              40  United-States  <=50K
32489         15024             0              40  United-States   >50K

[10750 rows x 15 columns])
('Male',        age         workclass  fnlwgt     education  education-num  \
0       39         State-gov   77516     Bachelors             13
1       50  Self-emp-not-inc   83311     Bachelors             13
2       38           Private  215646       HS-grad              9
3       53           Private  234721          11th              7
7       52  Self-emp-not-inc  209642       HS-grad              9
...    ...               ...     ...           ...            ...
32482   43           Private   84661     Assoc-voc             11
32483   53           Private  321865       Masters             14
32484   22           Private  310152  Some-college             10
32486   40           Private  154374       HS-grad              9
32488   22           Private  201490       HS-grad              9

           marital-status         occupation   relationship   race   sex  \
0           Never-married       Adm-clerical  Not-in-family  White  Male
1      Married-civ-spouse    Exec-managerial        Husband  White  Male
2                Divorced  Handlers-cleaners  Not-in-family  White  Male
3      Married-civ-spouse  Handlers-cleaners        Husband  Black  Male
7      Married-civ-spouse    Exec-managerial        Husband  White  Male
...                   ...                ...            ...    ...   ...
32482  Married-civ-spouse              Sales        Husband  White  Male
32483  Married-civ-spouse    Exec-managerial        Husband  White  Male
32484       Never-married    Protective-serv  Not-in-family  White  Male
32486  Married-civ-spouse  Machine-op-inspct        Husband  White  Male
32488       Never-married       Adm-clerical      Own-child  White  Male

       capital-gain  capital-loss  hours-per-week native-country salary
0              2174             0              40  United-States  <=50K
1                 0             0              13  United-States  <=50K
2                 0             0              40  United-States  <=50K
3                 0             0              40  United-States  <=50K
7                 0             0              45  United-States   >50K
...             ...           ...             ...            ...    ...
32482             0             0              45  United-States  <=50K
32483             0             0              40  United-States   >50K
32484             0             0              40  United-States  <=50K
32486             0             0              40  United-States   >50K
32488             0             0              20  United-States  <=50K

[21740 rows x 15 columns])